<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="partial-footer">
    <template>
        <style>
            .container {
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
                background-color: var(--primary-text-color);
                min-height: 64px;
                width: 100%;
            }

            .content {
                width: var(--layout-width);
            }

            a {
                text-decoration: none;
                color: var(--accent-color);
            }

            .line {
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
            }

            .flex {
                @apply(--layout-flex);
                @apply(--layout-center-justified);
                text-align: left;
                color: var(--text-primary-color);
                font-size: 1.5em;
                font-weight: 400;
                letter-spacing: 4px;
            }

            .padding {
                padding: 24px;
            }

            .sub-information {
                font-size: 0.7em;
                padding-top: 14px;
            }

            @media (max-width: 1025px) {
                .content {
                    width: 100%;
                }
            }

            @media (max-width: 841px) {

                .line {
                    @apply(--layout-vertical);
                }
            }
        </style>
        <div class="container">
            <div class="content">
                <div class="line">
                    <div class="flex padding">
                        <div>Wedives</div>
                        <div class="sub-information"><a href="/privacy">Privacy policy</a></div>
                    </div>
                    <div class="flex padding">
                        <div>Contattaci</div>
                        <div class="sub-information">wedives@wedives.com</div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'partial-footer'
            });
        })();
    </script>
</dom-module>