<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/polymer-apigility/api-resource.html">
<link rel="import" href="../../../bower_components/polymer-apigility/rest/form/rest-form.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/polymer-apigility/auth/form/auth-form.html">
<link rel="import" href="../../dropdown-menu/dropdown-menu-input.html">

<dom-module id="login-partial">
    <template>
        <style>
            :root {
                padding-left: 24px;
                padding-right: 24px;
                width: 500px;

                --paper-button: {
                    background-color: var(--default-primary-color);
                    width: 200px;
                    height: 50px;
                }
            }

            h1 {
                text-align: center;
                font-size: 2em;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 2px;
                margin: 0;
            }

            paper-button {
                margin-top: 24px;
                font-weight: 800;
                color: var(--accent-color);
            }

            .layout-center {
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
            }

            .errorMessage {
                color: var(--error-color);
                padding-top: 16px;
                text-align: center;
                width: 100%;
            }

            @media (max-width: 640px) {
                :root {
                    width: auto;
                }
            }

        </style>
        <form id="loginForm" is="apigility-auth-form" error-message="{{error}}" loading="{{_logging}}">
            <div class="layout-center">
                <h1>Login</h1>
            </div>
            <div class="errorMessage">{{error}}</div>
            <apigility-resource resource-name="rest/user"></apigility-resource>
            <paper-input name="username" label="Email"></paper-input>
            <paper-input name="password" label="Password" type="password"></paper-input>
            <div class="layout-center">
                <paper-button submit-button raised>Login</paper-button>
            </div>
        </form>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'login-partial',

                properties: {
                    placeId :{
                        type: String
                    },

                    error: {
                        type: String,
                        observer: '_errorChanged'
                    }
                },

                listeners: {
                    'rest-form-response': 'restFormRegistrationHandler',
                },

                _errorChanged: function(newValue, oldValue) {
                    switch(newValue) {
                        case 'Invalid username and password combination':
                            this.error = 'La combinazione di mail e password è sbagliata';
                            break;
                        case 'User email has been not validated':
                            this.error = 'La mail non è stata validata, se non è stata ricevuta nessuna mail di validazione effettuare il recupero password';
                            break;
                    }
                },

                restFormRegistrationHandler: function (e) {
                    var MESSAGE = "Bentornato %EMAIL%";
                    this.fire(
                      'iron-signal',
                      {
                          name: 'toast-notification',
                          data: {text: MESSAGE.replace('%EMAIL%', e.target.querySelector('paper-input[name="email"]').value)}
                      }
                    );
                }
            });
        })();
    </script>

</dom-module>