<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/polymer-apigility/api-resource.html">
<link rel="import" href="../../../bower_components/polymer-apigility/rest/form/rest-form.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/polymer-apigility/auth/form/auth-form.html">
<link rel="import" href="../../../bower_components/polymer-apigility/rpc/form/rpc-form.html">
<link rel="import" href="../../../bower_components/iron-signal/iron-signals.html">
<link rel="import" href="../../dropdown-menu/dropdown-menu-input.html">

<dom-module id="login-partial">
    <template>
        <style>
            :root {
                padding-left: 24px;
                padding-right: 24px;
                width: 500px;

                --paper-button: {
                    background-color: var(--default-primary-color);
                    width: 200px;
                    height: 50px;
                }
            }

            h1 {
                text-align: center;
                font-size: 2em;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 2px;
                margin: 0;
            }

            .marginTop {
                margin-top: 16px;
            }

            paper-button {
                margin-top: 24px;
                font-weight: 800;
                color: var(--accent-color);
            }

            .layout-center {
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
            }

            .recover {
                color: var(--accent-color);
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                margin: 0;
                cursor: pointer;
            }

            .errorMessage {
                color: var(--error-color);
                padding-top: 16px;
                text-align: center;
                width: 100%;
            }

            @media (max-width: 640px) {
                :root {
                    width: auto;
                }
            }

        </style>
        <iron-signals on-iron-signal-authentication="loginHandler"></iron-signals>
        <template is="dom-if" if="{{!showRoverPassword}}">
            <form id="loginForm" is="apigility-auth-form" error-message="{{error}}" loading="{{loadingLogin}}">
                <div class="layout-center">
                    <h1>Login</h1>
                </div>
                <div class="errorMessage">{{error}}</div>
                <apigility-resource resource-name="rest/user"></apigility-resource>
                <paper-input name="username" label="Email"></paper-input>
                <paper-input name="password" label="Password" type="password"></paper-input>
                <div class="layout-center">
                    <span hidden$="{{loadingLogin}}" class="recover" on-tap="changeVisibility">Recupera password</span>
                </div>
                <div class="layout-center">
                    <paper-button hidden$="{{loadingLogin}}" submit-button raised>Login</paper-button>
                    <paper-spinner hidden$="{{!loadingLogin}}" active></paper-spinner>
                </div>
            </form>
        </template>
        <template is="dom-if" if="{{showRoverPassword}}">
            <form id="recoverPassword" is="apigility-rpc-form" error-message="{{error}}" loading="{{loadingRecover}}">
                <apigility-resource resource-name="rpc/recover-password"></apigility-resource>
                <div class="layout-center">
                    <h1>Recupera password</h1>
                </div>
                <paper-input name="identity" label="Email"></paper-input>
                <div class="layout-center marginTop">
                    <span  hidden$="{{loadingRecover}}" class="recover" on-tap="changeVisibility">Torna alla login</span>
                </div>
                <div class="layout-center">
                    <paper-button  hidden$="{{loadingRecover}}" submit-button raised>Recuperala</paper-button>
                    <paper-spinner hidden$="{{!loadingRecover}}" active></paper-spinner>
                </div>
            </form>
        </template>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'login-partial',

                properties: {
                    placeId :{
                        type: String
                    },

                    error: {
                        type: String,
                        observer: '_errorChanged'
                    },

                    showRoverPassword: {
                        type: Boolean,
                        readOnly: true,
                        notify: true,
                        value: false
                    },

                    loadingLogin: {
                        type: Boolean,
                        notify: true,
                        value:false
                    },

                    loadingRecover: {
                        type: Boolean,
                        notify: true,
                        value:false
                    }
                },

                listeners: {
                    'rpc-response': 'responseHandler',
                    'rpc-error': 'errorResponseHandler',
                },

                errorResponseHandler: function (e) {
                    if (e.target.getResource().getFullPath() == '/rpc/recover-password') {
                        if (e.detail.response.status == 422) {
                            if (e.detail.response.validation_messages.identity) {
                                var paperInputEmail = this.querySelector('paper-input[name=identity]');
                                for (var prop in  e.detail.response.validation_messages.identity) {

                                    paperInputEmail.invalid = true;
                                    paperInputEmail.errorMessage = e.detail.response.validation_messages.identity[prop];
                                    break;
                                }
                            }
                        }
                    }
                },

                loginHandler: function (event) {
                    this.fire(
                        'iron-signal',
                        {
                            name: 'toast-notification',
                            data: {text: 'Bentornato su WEDIVES'}
                        }
                    );
                    this.parentElement.parentElement.parentElement.toggle();
                },

                responseHandler: function (event) {
                    var TEMPLATE = "Ti è stata inviata una mail all'indirizzo %MAIL%";
                    this.fire(
                        'iron-signal',
                        {
                            name: 'toast-notification',
                            data: {text: TEMPLATE.replace("%MAIL%", event.detail.rpcClient.$.ironAjax.body.identity)}
                        }
                    );
                    this.parentElement.parentElement.parentElement.toggle();
                },

                _errorChanged: function(newValue, oldValue) {
                    switch(newValue) {
                        case 'Invalid username and password combination':
                            this.error = 'La combinazione di mail e password è sbagliata';
                            break;
                        case 'User email has been not validated':
                            this.error = 'La mail non è stata validata, se non è stata ricevuta nessuna mail di validazione effettuare il recupero password';
                            break;
                    }
                },

                changeVisibility: function () {
                    this._setShowRoverPassword(!this.showRoverPassword);
                }
            });
        })();
    </script>

</dom-module>