<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/polymer-apigility/api-resource.html">
<link rel="import" href="../../../bower_components/polymer-apigility/rest/form/rest-form.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../dropdown-menu/dropdown-menu-input.html">

<dom-module id="registration-partial">
    <template>
        <style>
            :root {
                padding-left: 24px;
                padding-right: 24px;
                width: 500px;

                --paper-button: {
                    background-color: var(--default-primary-color);
                    width: 200px;
                    height: 50px;
                }
            }

            paper-button {
                margin-top: 24px;
                font-weight: 800;
                color: var(--accent-color);
            }

            .layout-center {
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
            }

            h1 {
                text-align: center;
                font-size: 2em;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 2px;
                margin: 0;
            }


            @media (max-width: 640px) {
                :root {
                    width: auto;
                }

                paper-input {
                    height: 72px;
                }

                paper-input ::content paper-input-error {
                    white-space: normal;
                    line-height: 14px;;
                }
            }
        </style>
        <form id="registrationForm" is="apigility-rest-form" loading="{{loading}}">
            <div class="layout-center">
                <h1>Registrati</h1>
            </div>
            <apigility-resource resource-name="rest/user"></apigility-resource>
            <paper-input name="email" label="Email"></paper-input>
            <paper-input name="user_name" label="User name"></paper-input>
            <paper-input name="password" label="Password" type="password"></paper-input>
            <paper-input name="repeat_password" label="Ripeti password" type="password" ></paper-input>
            <paper-textarea name="comment" label="Vuoi lasciare la tua opinione?" rows="3"></paper-textarea>
            <div class="layout-center">
                <paper-button hidden$="{{loading}}" submit-button raised>registrati</paper-button>
                <paper-spinner hidden$="{{!loading}}" active></paper-spinner>
            </div>

        </form>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'registration-partial',

                properties: {
                    placeId :{
                        type: String
                    },

                    loading: {
                        type: Boolean,
                        notify: true,
                        value:false
                    }
                },

                listeners: {
                    'rest-form-response': 'restFormRegistrationHandler',
                },

                ready: function () {
                    var formUserAdd = this.$.registrationForm;
                    formUserAdd.addEventListener('rest-form-presubmit', this.userPostValidation);
                },

                restFormRegistrationHandler: function (e) {
                    var MESSAGE = "Grazie per aver effetuato la registrazione, ti verrà inviata una mail all'indirizzo %EMAIL%";
                    this.fire(
                      'iron-signal',
                      {
                          name: 'toast-notification',
                          data: {text: MESSAGE.replace('%EMAIL%', e.target.querySelector('paper-input[name="email"]').value)}
                      }
                    );
                    this.parentElement.parentElement.parentElement.toggle();
                },

                userPostValidation : function (e) {
                    var valid = true;
                    var paperInputPassword = Polymer.dom(e.target).querySelector('paper-input[name=password]');
                    var paperInputRepeatPassword = Polymer.dom(e.target).querySelector('paper-input[name=repeat_password]');

                    if ((paperInputPassword && paperInputRepeatPassword)
                            && (paperInputPassword.value && paperInputRepeatPassword.value)
                            && (paperInputPassword.value === paperInputRepeatPassword.value)

                    ) {
                        return valid;
                    }
                    paperInputRepeatPassword.invalid = true;
                    paperInputRepeatPassword.errorMessage = 'Le 2 pasword non sono uguali';
                    e.preventDefault();
                }
            });
        })();
    </script>

</dom-module>