<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/polymer-apigility/api-resource.html">
<link rel="import" href="../../../bower_components/polymer-apigility/rest/form/rest-form.html">
<link rel="import" href="../../dropdown-menu/dropdown-menu-input.html">

<dom-module id="registration-partial">
    <template>
        <style>
            :root {
                padding:24px
            }
        </style>
        <form id="registrationForm" is="apigility-rest-form">
            <apigility-resource resource-name="rest/user"></apigility-resource>
            <paper-input name="email" label="Email"></paper-input>
            <dropdown-menu-input  name="type" label="Type">
                <paper-menu class="dropdown-content" class="flex hspace" attr-for-selected="value">
                    <paper-item value="diver">Subacquo</paper-item>
                    <paper-item value="diverOwner">Proprietario di un diving</paper-item>
                </paper-menu>
            </dropdown-menu-input>
            <div class="buttons">
                <paper-button submit-button raised>Registrati</paper-button>
                <paper-button dialog-confirm raised>Chiudi</paper-button>
            </div>
        </form>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'registration-partial',

                properties: {
                    placeId :{
                        type: String
                    }
                },

                listeners: {
                    'rest-form-response': 'restFormRegistrationHandler',
                },

                restFormRegistrationHandler: function (e) {
                    this.fire(
                      'iron-signal',
                      {name: 'toast-notification', data: {text: 'Grazie per aver effetuato la preregistrazione'}}
                    );
                }
            });
        })();
    </script>

</dom-module>