/**
 * Created by visa on 02/12/15.
 */
(function(document) {
  'use strict';

  // TODO move into another file
  app.config = {
    "client_id": "strapieno-admin",
    "base-url" : "http://127.0.0.72",
    "google-map-api-key": "AIzaSyAqDcu1vu9rj_Fj-3qCxFKbwdozZFGZOOE"
  };

})(document);
